#mainbody {
  background-image: url("../img/anastase-maragos.jpg");
  background-color: #525151; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: black;
}

* {
  box-sizing: border-box;
  
}

@media screen and (min-width: 768px) {
  body { padding-top: 100px; }
}

.content {
  padding-top: 75px;
}

.error {
  text-shadow: 1px 1px white;
  color : red;
}

.success {
  text-shadow: 1px 1px white;
  color : blue;
}

#readable {
  background-color: rgba(250, 248, 248, 0.624);
}

#img {
  width: 200px;
  height: 200px;
}

/* .successorfailure {
  width: 200px;

  border: solid black 3px;

} */

#rightcol {
  background-color: honeydew;
}