#mainbody {
  background-image: url("../img/anastase-maragos.jpg");
  background-color: #525151; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: black;
}

* {
  box-sizing: border-box;
  
}

@media screen and (min-width: 768px) {
  body { padding-top: 100px; }
}

.content {
  padding-top: 75px;
}

.error {
  background-color: rgba(240, 255, 240, 0.582);
  text-shadow: 1px 1px white;
  color : red;
}

.success {
  background-color: rgba(240, 255, 240, 0.582);
  text-shadow: 1px 1px white;
  color : blue;
}

#readable {
  padding: 10px 20px;
  background-color: rgba(250, 248, 248, 0.624);
}

#img {
  width: 200px;
  height: 200px;
}

/* .successorfailure {
  width: 200px;

  border: solid black 3px;

} */
#leftcol {
  
}
#rightcol {
  background-color: honeydew;
}

.btn {
  width: 100%;
}

#myTable {
  min-width: 200px;
  max-width: 400px;
}

#output {
  min-width: 100px;
  max-width: 400px;
}