



#mainbody {
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../img/anastase-maragos.jpg");
  background-color: #525151; /* Used if the image is unavailable */

  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: black;
}

* {
  box-sizing: border-box;
  
}


#img {
  width: 200px;
  height: 200px;
}

/* 
#myTable {
  min-width: 200px;
  max-width: 400px;
} */

/* #output {
  min-width: 100px;
  max-width: 400px;
} */
@media (max-width: 575.98px) and (max-width: 767.98px) { 
  body { 
    padding-top: 250px; 
  }
  #img {
    width: 100px;
    height: 100px;
  }
 }

@media screen  { 
  body { padding-top: 100px; }
 }

